<h2>Welcome, <%= @employer.name.titleize %></h2>
<% if @applicants.length > 0 %>
  <h4>Current applicants:</p>
  <% @applicants.each do |applicant| %>
    <p><%= applicant.name.titleize %></p>
  <% end %>
<% else %>
  <p>You have no applicants at the present time</p>
<% end %>